/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes animDescript {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  30% {
    opacity: 0.2; }
  80%, 100% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes animDescript {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  30% {
    opacity: 0.2; }
  80%, 100% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

html {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", arial, Arial, Helvetica, sans-serif; }

.menu {
  padding: 0 6%; }

h1 {
  font-family: Shrikhand, arial, Helvetica, sans-serif; }

h2 {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  padding-top: 12%; }

h3 {
  margin: 0;
  font-size: 1.2em; }

p {
  margin: 2px;
  font-size: 0.8em;
  line-height: 1.4em; }

strong {
  font-size: 1.2em; }

.headerMenus {
  margin-top: 6%; }
  .headerMenus__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .headerMenus__top i {
      color: black;
      position: absolute;
      left: 6%;
      line-height: 0; }
    .headerMenus__top img {
      width: 40%; }

.fa-arrow-left {
  font-size: 1.5em; }

.headerMenus__Resto {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin-top: 6%;
  -o-object-fit: cover;
     object-fit: cover; }

.headerMenus__Resto img {
  position: absolute;
  width: 120%;
  bottom: 15%;
  left: -8%;
  -webkit-transform: translateY(5%);
      -ms-transform: translateY(5%);
          transform: translateY(5%); }

.headerMenus__title {
  position: absolute;
  width: 88%;
  bottom: -1%;
  background-color: #e9e7e9;
  border-radius: 50px 50px 0 0;
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 6% 2% 6%; }

.heart__active {
  color: #FF79DA;
  opacity: 0; }

.titleHeart {
  width: 40Px;
  height: 30px;
  position: absolute;
  right: 6%;
  font-weight: 400;
  font-size: 2.3em; }
  .titleHeart:hover :nth-child(1) {
    display: none; }
  .titleHeart:hover :nth-child(2) {
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
    cursor: pointer; }

@media screen and (min-width: 768px) {
  .headerMenus__top img {
    width: 20%; }
  .headerMenus__Resto {
    height: 400px; }
  .headerMenus__Resto img {
    width: 100%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .headerMenus__title {
    min-width: 50%;
    max-width: 80%;
    top: 80%;
    bottom: 0%;
    border-radius: 0 50px 0 0;
    font-size: 1em;
    padding: 0 0 0 6%; } }

@media screen and (max-width: 360px) {
  .headerMenus__title h1 {
    font-size: 1.8em; } }

.menu {
  width: 88%;
  background-color: #e9e7e9; }

article {
  opacity: 0.5; }

article:nth-of-type(1) {
  opacity: 1;
  -webkit-transition: opacity 2500ms;
  -o-transition: opacity 2500ms;
  transition: opacity 2500ms;
  -webkit-animation: animDescript 500ms 150ms both;
          animation: animDescript 500ms 150ms both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

article:nth-of-type(2) {
  opacity: 1;
  -webkit-transition: opacity 2500ms;
  -o-transition: opacity 2500ms;
  transition: opacity 2500ms;
  -webkit-animation: animDescript 1000ms 180ms both;
          animation: animDescript 1000ms 180ms both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

article:nth-of-type(3) {
  opacity: 1;
  -webkit-transition: opacity 2500ms;
  -o-transition: opacity 2500ms;
  transition: opacity 2500ms;
  -webkit-animation: animDescript 1500ms 200ms both;
          animation: animDescript 1500ms 200ms both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

.description {
  width: 85%;
  height: 40px; }

.price {
  display: block;
  position: absolute;
  top: 52%;
  right: 3%;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.meal {
  position: relative;
  border-radius: 0.8em;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5em #bdbdbd;
          box-shadow: 0 0 0.5em #bdbdbd;
  padding: 0.4em 0.8em;
  margin-top: 1em;
  cursor: pointer; }
  .meal:hover .description div {
    height: 20px;
    width: 200px; }
    .meal:hover .description div p {
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      white-space: nowrap; }
  .meal:hover .price {
    -webkit-transform: translate(-220%, 0%);
        -ms-transform: translate(-220%, 0%);
            transform: translate(-220%, 0%); }
  .meal:hover .meal__confirm {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .meal:hover span i {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s; }

.meal__confirm {
  background-color: #99E2D0;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  border-radius: 0 0.4em 0.4em 0;
  text-align: center;
  font-size: 1.5em;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }
  .meal__confirm span i {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
    line-height: 1em;
    bottom: 5%;
    margin-top: 30%; }

.commande {
  text-align: center;
  width: 100%; }

@media screen and (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  article {
    width: 32%; }
  .description {
    width: 85%;
    height: 80px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: normal; }
    .description p {
      height: 40px;
      line-height: 1.5em; }
  .meal:hover .description div {
    white-space: normal;
    overflow: hidden;
    width: 200px;
    height: 40px; }
  .price {
    top: 70%; }
  .description div:nth-child(2) {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .meal__confirm span i {
    margin-top: 60%; } }

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  article {
    width: 32%; }
  .description {
    white-space: normal;
    width: 85%;
    height: 80px; }
    .description p {
      height: 40px;
      line-height: 1.5em; }
  .meal:hover .description div {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    height: 42px; }
  .price {
    top: 70%; }
  .description div:nth-child(2) {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .meal__confirm span i {
    margin-top: 60%; } }

@media screen and (max-width: 360px) {
  .description {
    height: 80px;
    white-space: normal; }
    .description p {
      height: 40px;
      line-height: 1.5em; }
  .meal:hover .description div {
    white-space: normal;
    overflow: hidden;
    width: 170px;
    height: 40px; }
  .price {
    top: 70%; }
  .meal__confirm {
    width: 50px; }
    .meal__confirm span i {
      line-height: 1.8em;
      margin-top: 60%; }
  .meal:hover .price {
    -webkit-transform: translate(-150%, 0%);
        -ms-transform: translate(-150%, 0%);
            transform: translate(-150%, 0%); } }

.footer {
  background-color: black;
  padding: 6%;
  color: white; }
  .footer__logo {
    text-align: left; }
    .footer__logo img {
      width: 30%; }

.footer ul {
  padding: 0; }
  .footer ul li {
    list-style-type: none;
    line-height: 2em; }
    .footer ul li i {
      font-size: 0.8em;
      color: white;
      padding-right: 0.8em; }

.footer ul a {
  text-decoration: none;
  color: white; }
  .footer ul a:hover {
    color: #FF79DA; }

span {
  position: relative;
  bottom: 0.2em; }

.rotate i {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }

@media screen and (min-width: 1200px) {
  .footer__logo img {
    width: 15%; }
  .footer__logo {
    text-align: center; }
  .footer ul li {
    text-align: center; } }

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .footer__logo img {
    width: 15%; }
  .footer__logo {
    text-align: center; }
  .footer ul li {
    text-align: center; } }

/*vertical-align: 15%  fa-rotate-90*/
.buttonOhmyfood {
  border-radius: 30px;
  border: 0;
  line-height: 3;
  padding: 0 1.5em;
  margin: 1.8em 0 1.8em 0;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(70%, #b45fd6));
  background-image: -o-linear-gradient(top left, #FF79DA 0%, #b45fd6 70%);
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #b45fd6 70%);
  -webkit-box-shadow: 0 0 0.5em #bdbdbd;
          box-shadow: 0 0 0.5em #bdbdbd; }

.buttonOhmyfood:hover {
  -webkit-box-shadow: 0 0 0.5em #575757;
          box-shadow: 0 0 0.5em #575757;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(70%, #d473fa));
  background-image: -o-linear-gradient(top left, #FF79DA 0%, #d473fa 70%);
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #d473fa 70%); }