.buttonOhmyfood {
    border-radius: 30px;
    border: 0;
    line-height: 3;
    padding: 0 1.5em;
    margin: 1.8em 0 1.8em 0; 
    font-size: 1.1rem;
    color: #fff;
    background-color: $colors-secondary;
    background-image: linear-gradient($colors-secondary 0%, rgba(0.8, 0, 0, 0.3) 100%);
    @include shadow-all; }   

    
.buttonOhmyfood:focus {
        @include shadow-all__hover;
        background-image: linear-gradient($colors-secondary 50%, rgba(156, 20, 136, 0) 100%);
    }