.buttonOhmyfood {
    border-radius: 30px;
    border: 0;
    line-height: 3;
    padding: 0 1.5em;
    margin: 1.8em 0 1.8em 0; 
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
    background-color: $colors-secondary;
    background-image: linear-gradient(to bottom right, $colors-secondary 0%, rgb(180, 95, 214) 70%);
    @include shadow-all; }   

    
.buttonOhmyfood:hover {
        @include shadow-all__hover;
        background-image: linear-gradient(to bottom right, $colors-secondary 0%,  rgb(212, 115, 250) 70%);
    }