$colors-primary: #9356dc;
$colors-primaryLight: #ede0fc;
$colors-secondary: #FF79DA;
$colors-tertiaire: #99E2D0;
$colors-footer: #3a3837;
$colors-background : #f1f0f1;
$colors-background2 : #e4e3e4;
$colors-nouveau : #1f9477;
$color-shadow : rgb(189, 189, 189);
$shadow-size: 0 0 0.5em ;
$padding-size : 6%;
$animation-delay : 0.8s;
