$colors-primary: #d0b2f5;
$colors-primaryLight: #ede0fc;
$colors-secondary: #FF79DA;
$colors-tertiaire: #99E2D0;
$colors-background : #e9e7e9;
$colors-nouveau : #1f9477;
$color-shadow : rgb(189, 189, 189);
$shadow-size: 0 0 0.5em ;
$padding-size : 6%;
$animation-delay : 0.8s;
