$colors-primary: #9356DC;
$colors-primaryLight: #9256dc4b;
$colors-secondary: #FF79DA;
$colors-tertiaire: #99E2D0;
$colors-background : #e9e7e9;
$colors-nouveau : #1f9477;
$color-shadow : rgb(189, 189, 189);
$shadow-size: 0 0 0.5em ;
$padding-size : 6%;
