.footer {
    background-color: black;
    padding : 6%;
    color : white;
        &__logo {
            text-align: left;
            img { 
                width : 30%;
            }    
        }
    }

.footer ul {
    padding : 0;
        li {
            list-style-type: none;
            line-height: 2em;
            i {
                font-size : 0.8em;
                color: white;
                padding-right : 0.8em;
            }
        }
    }
.footer ul a {
    text-decoration: none;
    color : white;
        &:hover {
            color: $colors-secondary;
        }
    }
span {
    position: relative ;
    bottom: 0.2em;
    }

span i {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
    }

    @media screen and (min-width: 1200px) {
        .footer__logo img {
            width: 15%;}
                
        .footer__logo {
            text-align: center;}
        
        .footer ul li {
            text-align: center}
    
        }


    @media screen and (min-width: 769px) and (max-width: 1199px) {
        .footer__logo img {
            width: 15%;}
                    
        .footer__logo {
            text-align: center;}
        
        .footer ul li {
                text-align: center}
    
    }          
/*vertical-align: 15%  fa-rotate-90*/